#container {
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#generic-row {
	flex-grow: 1;
	flex-direction: row;
	width: 90%;
	height: 100%;
}

#left-column {
	flex-grow: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

#right-column {
	flex-grow: 1;
	flex-direction: column;
	width: 100%;
}

#top-right-row {
	flex-grow: 1;
	flex-direction: row;
	justify-content: flex-end;
	width: auto;
	height: 100%;
}

#bottom-right-row {
	flex-grow: 1;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	width: auto;
	height: 100%;
}

#button-column {
	width: 40px;
}

.point-container {
	background-color: black;
}

.point-label {
	font-size: 10px;
	color: #9F9F9F;
	margin: 0;
	padding: 0;
}

.text {
	color: white;
}

.horizontal-line {
	background-color: white;
	width: 100%;
	height: 2px;
}

.overlay-button {
    font-size: 5px;
    height: 25px;
    width: 30px;
	border-radius: 5px;
	background-color: white;
	border-color: white;
}

.button-text {
	color: #000000;
	-unity-font-style: bold;
}

#new-game-image {
	--unity-image: resource("Icons/Buttons/new_game_button");
}