#horizontal-end {
    flex-grow: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

#vertical-top {
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.overlay-button {
    font-size: 5px;
    height: 5%;
    width: 3%;
    border-radius: 50%;
}