#container {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.round-header {
    -unity-font-style: bold;
    font-size: 20px;
}

.subtitle {
    -unity-font-style: bold;
    font-size: 14px;
}